@model IEnumerable<Drink_Finder.Models.BarTerms>

@{
    ViewBag.Title = "Index";
}

<h2>Bar Terms</h2>

<form class="form-inline">
    <div class="form-group">
        @using (Html.BeginForm("Index", "BarTerms", FormMethod.Get))
        {
            <p>
                Search By Term: @Html.TextBox("NameSearch", null, new { @class = "form-control" })
                <input type="submit" value="Filter" class="btn btn-default btn-sm" />
            </p>
        }
    </div>
</form>

        @Html.ActionLink("Clear Search ", "Index", "BarTerms") |
        @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Definition)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Definition)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
